body {
  background-color: pink;
  text-align: center;
}

.container {
  background-color: green;
  width: 100%;
  height: 700px
  overflow: auto;
}
.boxes{
  background-color: orange;
  color: black;
  width: 150px;
}
/*************************************************************************/
/* CSS for Branch Labels above tree and other data like Branh Day End, etc */

.containerTreeLabels {

  height: 35px;
  width: 700px;
  background-color: black;
  text-align: center;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  /*margin: auto;*/
  transform: rotate(-360deg);

}

.zeroBranchLabel {
  background-color: green;
  text-align: center;
  font-size: 1rem;
  height: 35px;
  width: 35px;
}

.oneBranchLabel {
  background-color: orange;
  text-align: center;
  font-size: 1rem;
  height: 35px;
  width: 35px;
}
.twoBranchLabel {
  background-color: blue;
  text-align: center;
  font-size: 1rem;
  height: 35px;
  width: 35px;
}
.threeBranchLabel {
  background-color: red;
  text-align: center;
  font-size: 1rem;
  height: 35px;
  width: 35px;
}

.fourBranchLabel {
  background-color: grey;
  text-align: center;
  font-size: 1rem;
  height: 35px;
  width: 35px;
}

.fiveBranchLabel {
  background-color: yellow;
  text-align: center;
  font-size: 1rem;
  height: 35px;
  width: 35px;
}

.sixBranchLabel {
  background-color: indigo;
  text-align: center;
  font-size: 1rem;
  height: 35px;
  width: 35px;
}

.sevenBranchLabel {
  background-color: violet;
  text-align: center;
  font-size: 1rem;
  height: 35px;
  width: 35px;
}

.eightBranchLabel {
  background-color: brown;
  text-align: center;
  font-size: 1rem;
  height: 35px;
  width: 35px;
}

.nineBranchLabel {
  background-color: gold;
  text-align: center;
  font-size: 1rem;
  height: 35px;
  width: 35px;
}

.tenBranchLabel {
  background-color: green;
  text-align: center;
  font-size: 1rem;
  height: 35px;
  width: 35px;
}

.branchNumberLabelFonts {
  background-color: black;
  color: gold;
  text-align: center;
  font-size: 1rem;
  height: 35px;
  width: 200px;
}

/*************************************************************************/

/* CSS for Branch End Day Info */

.containerBranchDayEndLabels {

  height: 35px;
  width: 700px;
  background-color: black;
  text-align: center;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(-360deg);

}


.branchDayEndLabelInfo {
  height: 35px;
  width: 35px;
  background-color: pink;
  text-align: center;
  font-size: .5rem;
  /*border-radius: 100%;*/
  /*border: 1px solid;*/
  margin: 0 auto;
  /*transform: rotate(90deg);*/
}

.branchDayEndLabelFonts {
  background-color: black;
  color: gold;
  text-align: center;
  font-size: 1rem;
  height: 35px;
  width: 200px;
}



/*************************************************************************/

/* CSS for Branch Date End Info */

.containerBranchDateEndLabels {

  height: 35px;
  width: 700px;
  background-color: black;
  text-align: center;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(-360deg);

}


.branchDateEndLabelInfo {
  height: 35px;
  width: 35px;
  background-color: pink;
  text-align: center;
  font-size: .5rem;
  /*border-radius: 100%;*/
  /*border: 1px solid;*/
  margin: 0 auto;
  /*transform: rotate(90deg);*/
}



.branchDateEndLabelFonts {
  background-color: black;
  color: gold;
  text-align: center;
  font-size: 1rem;
  height: 35px;
  width: 200px;
}



/*************************************************************************/

/* CSS for Branch Div Info */

.containerDivInfoLabels {

  height: 35px;
  width: 700px;
  background-color: black;
  text-align: center;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(-360deg);

}


.divLabelInfo {
  height: 35px;
  width: 35px;
  background-color: pink;
  text-align: center;
  font-size: .5rem;
  /*border-radius: 100%;*/
  /*border: 1px solid;*/
  margin: 0 auto;
  /*transform: rotate(90deg);*/
}

.divInfoLabelFonts {
  background-color: black;
  color: gold;
  text-align: center;
  font-size: 1rem;
  height: 35px;
  width: 200px;
}



/*************************************************************************/

/* CSS for Ex-Div stockPx Info */

.containerExDivStockPxLabels {

  height: 35px;
  width: 700px;
  background-color: black;
  text-align: center;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(-360deg);

}


.exDivStockPxInfo {
  height: 35px;
  width: 35px;
  background-color: pink;
  text-align: center;
  font-size: .5rem;
  /*border-radius: 100%;*/
  /*border: 1px solid;*/
  margin: 0 auto;
  /*transform: rotate(90deg);*/
}

.exDivStockPxLabelFonts {
  background-color: black;
  color: gold;
  text-align: center;
  font-size: 1rem;
  height: 35px;
  width: 200px;
}



/*************************************************************************/



#tree {

  height: 700px;
  width: 700px;
  background-color: black;
  text-align: center;
  margin-top: 5px;
  /*margin-bottom: auto;*/
  margin-right: auto;
  margin-left: auto;
  transform: rotate(-90deg);
  padding: 0;
  overflow: auto;

}

/****************************/

.zero_branchT {
  background-color: green;
  text-align: center;
  font-size: 0.5rem;
}

.one_branchT {
  background-color: orange;
  text-align: center;
  font-size: 0.5rem;
}
.two_branchT {
  background-color: blue;
  text-align: center;
  font-size: 0.5rem ;
}
.three_branchT {
  background-color: red;
  text-align: center;
  font-size: 0.5rem ;
}

.four_branchT {
  background-color: grey;
  text-align: center;
  font-size: 0.5rem ;
}

.five_branchT {
  background-color: yellow;
  text-align: center;
  font-size: 0.5rem ;
}

.six_branchT {
  background-color: indigo;
  text-align: center;
  font-size: 0.5rem ;
}

.seven_branchT {
  background-color: violet;
  text-align: center;
  font-size: 0.5rem ;
}

.eight_branchT {
  background-color: brown;
  text-align: center;
  font-size: 0.5rem ;
}

.nine_branchT {
  background-color: gold;
  text-align: center;
  font-size: 0.5rem ;
}

.ten_branchT {
  background-color: green;
  text-align: center;
  font-size: 0.5rem ;
}



/****************************/

.node_zeroT {
  height: 35px;
  width: 35px;
  background-color: green;
  text-align: center;
  font-size: .5rem;
  border-radius: 100%;
  /*border: 1px solid;*/
  margin: 0 auto;
  transform: rotate(90deg);
}

.node_firstT {
  height: 35px;
  width: 35px;
  background-color: orange;
  text-align: center;
  font-size: .5rem;
  border-radius: 100%;
  /*border: 1px solid;*/
  /* margin: 0 0 0 auto; */
  margin-right: 0;
  margin-left: auto;
  transform: rotate(90deg);
}

.node_middleT {
  height: 35px;
  width: 35px;
  background-color: orange;
  text-align: center;
  font-size: .5rem;
  border-radius: 100%;
  /*border: 1px solid;*/
  /* margin: 0 0 0 auto; */
  margin-right: 0;
  margin-left: 0;
  transform: rotate(90deg);
}

.node_lastT {
  height: 35px;
  width: 35px;
  background-color: orange;
  text-align: center;
  font-size: .5rem;
  border-radius: 100%;
  /*border: 1px solid;*/
  /* margin: 0 0 0 auto; */
  margin-right: auto;
  margin-left: 0;
  transform: rotate(90deg);
}


/***************************************************************/

/*
#zero-zero {
  height: 30px;
  width: 30px;
  background-color: pink;
  text-align: center;
  font-size: .15rem;
  border-radius: 100%;
  border: 1px solid;
  margin: 0 auto;
  /*transform: rotate(90deg);
}*/

/*
#one-zero {
  height: 30px;
  width: 30px;
  background-color: pink;
  text-align: center;
  font-size: .15rem;
  border-radius: 100%;
  border: 1px solid;
  margin: 0 auto;
  /*transform: rotate(90deg);
}
/*#one-one {
  height: 30px;
  width: 30px;
  background-color: pink;
  text-align: center;
  font-size: .15rem;
  border-radius: 100%;
  border: 1px solid;
  margin: 0 auto;
  /*transform: rotate(90deg);
}*/
.nodeStockPx {
  height: 35px;
  width: 35px;
  background-color: pink;
  text-align: center;
  font-size: .5rem;
  border-radius: 100%;
  border: 1px solid;
  margin: 0 auto;
  /*transform: rotate(90deg);*/
}



/*****************************************************************************/

.container-fluid {
  height: 700px;
  width: 700px;
  background-color: black;
  text-align: center;
  margin-top: 50px;
  transform: rotate(-90deg);
}

.zero_branch {
  background-color: green;
  text-align: center;
  font-size: 0.2rem;
}

.one_branch {
  background-color: orange;
  text-align: center;
}

.two_branch {
  background-color: blue;
  text-align: center;
}

.three_branch {
  background-color: red;
  text-align: center;
}

.four_branch {
  background-color: grey;
  text-align: center;
}

.five_branch {
  background-color: yellow;
  text-align: center;
}

.six_branch {
  background-color: indigo;
  text-align: center;
}

.seven_branch {
  background-color: violet;
  text-align: center;
}

.eight_branch {
  background-color: brown;
  text-align: center;
}

.nine_branch {
  background-color: gold;
  text-align: center;
}

.ten_branch {
  background-color: green;
  text-align: center;
}

.node_zero {
  height: 35px;
  width: 35px;
  background-color: pink;
  text-align: center;
  font-size: .15rem;
  border-radius: 100%;
  border: 1px solid;
  margin: 0 auto;
  transform: rotate(90deg);
}

/* .node_zero a {
  display: block;
  height: 30px;
  width: 30px;
  background-color: pink;
  text-align: center;
  font-size: .15rem;
  border-radius: 100%;
  border: 1px solid;
  margin: 0 auto;
  transform: rotate(90deg);
} */


.node_first {
  height: 35px;
  width: 35px;
  background-color: pink;
  text-align: center;
  font-size: .5rem;
  border-radius: 100%;
  border: 1px solid;
  /* margin: 0 0 0 auto; */
  margin-right: 0;
  margin-left: auto;
  transform: rotate(90deg);
}

.node_middle {
  height: 35px;
  width: 35px;
  background-color: pink;
  text-align: center;
  font-size: .5rem;
  border-radius: 100%;
  border: 1px solid;
  /* margin: 0 0 0 auto; */
  margin-right: 0;
  margin-left: 0;
  transform: rotate(90deg);
}


.node_last {
  height: 35px;
  width: 35px;
  background-color: pink;
  text-align: center;
  font-size: .5rem;
  border-radius: 100%;
  border: 1px solid;
  /* margin: 0 auto 0 0; */
  margin-right: auto;
  margin-left: 0;
  transform: rotate(90deg);
}



.node_info {
  display: inline-block;
  margin: 20% 0 30% 0;
  /* height: 1px;
  width: 1px; */
  /* max-width: 2px; */
  text-align: center;
  font-size: 0.5rem;

}
